* {
    color: #333;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #F7ECDE;
    min-height: 100vh;
}
header {
    height: 60px;
    background-color: #54BAB9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
}

aside {
    background-color: #E9DAC1;
    padding: 1%;
}

main {
    background-color: #F7ECDE;
    padding: 1%;
    width: 100%;
}

.wrapper {
    display: flex;
    height: calc(100vh - 60px);
}

aside nav ul {
    list-style: none;
    padding: 0;
    padding-left: 0;
}

li {
    padding-bottom: 16px;
    width: max-content;
}

li:last-child {
    padding-bottom: 0;
}

aside nav ul a {
    text-decoration: none;
}

.question-form {
    display: flex;
    flex-direction: column;
}

.submit {
    background-color: transparent;
    border: none;
}

button.submit {
    background-color: #18978F;
    color: #fff;
}

.form-choices-container {
    display: flex;
}

.form-check-container {
    display: flex;
    gap: 10px;
}

.p-header__button{
    background-color: #007bff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.button{
    display: block;
    color: #ffffff; 
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.p-header__button:hover {
    background-color: #0056b3; 
}